.cabecalho {
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  align-items: center;
  margin: 1.3em 3em;
}

.cabecalho__links__link {
  display: inline-block;
  font-size: 0.9em;
  margin: 1em;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.cabecalho__links__link:hover {
  font-weight: 700;
  transform: translateY(-0.3em);
}

.cabecalho__links__link.ativo {
  text-decoration: overline;
}
